[user]
	name = Muhamad Salman
	mail = muhamad.salman2001@gmail.com
	email = muhamad.salman2001@gmail.com
	signingkey = /home/sentinel/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /home/sentinel/.gnupg/allowed_signers
[init]
	defaultBranch = main
